.button {
	display: flex;
	justify-content: center;
	align-items: center;
	color: $white;
	font-family: $ff;
	font-size: 18px;
	font-style: normal;
	font-weight: $fw-bold;
	line-height: 150%;
	padding: 16.5px 44px;
	width: 100%;

	@media all and (min-width: $sm) {
		font-size: 22px;
		padding: 14px 44px;
		width: auto;
	}
}