.analysis {
	padding: 50px 0 50px;

	@media all and (min-width: $sm) {}

	@media all and (min-width: $lg) {
		padding: 37px 0 50px;
	}

	&__wrapper {
		display: flex;
		flex-direction: column;
		align-items: flex-start;
		padding: 32px 17px 22px 20px;

		@media all and (min-width: $sm) {
			padding: 38px 31px 35px 30px;
		}

		@media all and (min-width: $lg) {
			flex-direction: row;
			align-items: center;
		}

		@media all and (min-width: $xl) {
			padding: 67px 81px 59px 58px;
		}
	}

	&__logo {
		margin-bottom: 30px;
		width: 232px;
		height: 24px;
		margin-bottom: 14px;
		
		@media all and (min-width: $sm) {
			width: 397px;
			height: 43px;
			margin-bottom: 30px;
		}

		@media all and (min-width: $lg) {
			width: 521px;
			height: 57px;
		}
	}

	&__info {
		display: flex;
		flex-direction: column;
		align-items: flex-start;
		width: 100%;
		margin-bottom: 19px;

		@media all and (min-width: $lg) {
			width: 55%;
			margin-bottom: 0;
		}
	}

	&__img {
		width: 100%;
		display: flex;
		justify-content: center;

		&_wrapper {
			width: 208px;
			height: 225px;

			@media all and (min-width: $sm) {
				width: 298px;
				height: 323px;
			}

			@media all and (min-width: $lg) {
				width: 448px;
				height: 483px;
			}
		}

		@media all and (min-width: $lg) {
			width: calc(45% - 30px);
			margin-left: 30px;
			justify-content: flex-start;
		}
	}

	&__text {
		color: $black;
		font-family: $ff;
		font-size: 14px;
		font-style: normal;
		font-weight: $fw-regular;
		line-height: 150%;
		margin: 10px 0 20px;

		@media all and (min-width: $sm) {
			margin: 15px 0 20px;
		}

		@media all and (min-width: $lg) {
			margin: 15px 0;
		}
	}
}